@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
  @apply border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

@keyframes fadeIn{
  from{opacity:0;transform:scale(.95);}
  to{opacity:1;transform:scale(1);}
}
.animate-fadeIn{animation:fadeIn .25s ease;}
